<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147406568168-m2gf7t97c4237l4mft810qse0bo0a1rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147406568168-m2gf7t97c4237l4mft810qse0bo0a1rd</string>
	<key>API_KEY</key>
	<string>AIzaSyCIL6-8iatAez1lHdPACv-3kjtsZFj6mNU</string>
	<key>GCM_SENDER_ID</key>
	<string>147406568168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alex.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-73c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-73c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147406568168:ios:f8c64a18a0945a3413675d</string>
</dict>
</plist>